@namespace LukeVo.Blazor.LDialog

@inherits LDialogBase<string>

@if (!this.IsShowing)
{
    return;
}

@if (this.Title != null)
{
    <header class="ldialog-header">
        <h5>@(this.Title)</h5>
    </header>
}


<main  class="ldialog-main">
    @if (this.Icon != null)
    {
        <img class="icon" src="@(this.Icon)" />
    }

    @if (this.Text != null)
    {
        <p>
            @(this.Text)
        </p>
    }

    <p>
        <input autofocus class="prompt-input" type="@(this.InputType)" @bind="this.value" />
    </p>

</main>


<footer class="ldialog-footer">
    <p class="text-right">
        @if (this.ConfirmButtonText != null)
        {
            <button class="@(this.ConfirmButtonCssClass)" @onclick="this.onOkButtonClick">
                @(this.ConfirmButtonText)
            </button>
        }

        @if (this.CancelButtonText != null)
        {
            <button class="@(this.CancelButtonCssClass)" @onclick="this.onCancelButtonClick">
                @(this.CancelButtonText)
            </button>
        }
    </p>
</footer>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string ConfirmButtonText { get; set; } = "OK";

    [Parameter]
    public string CancelButtonText { get; set; } = "Cancel";

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string ConfirmButtonCssClass { get; set; } = "btn btn-primary";

    [Parameter]
    public string CancelButtonCssClass { get; set; } = "btn btn-light";

    [Parameter]
    public string InputType { get; set; } = "text";

    [Parameter]
    public string InitialValue { get; set; } = "";

    string value { get; set; }

    protected override void OnInitialized()
    {
        this.value = this.InitialValue;
    }

    void onOkButtonClick()
    {
        this.OnConfirm(this.value);
    }

    void onCancelButtonClick()
    {
        this.OnCancel();
    }

}
